body {
    background-color:lightgrey
  }
  
  table {
      width: 100%;
     text-align: center;
    }
    table, th, td {
      border: transparent;
      border-collapse: collapse;
      margin-top: 55px;
      font-size:  150%;
      font-family: geneva
    }

#calculator {

    font-size: 200% ;
    text-align: center;
}
#btn {
position: relative;
top: 8px;
       background: orange; 
       
}
input {
    height: 45px;
    width: 75px;
    text-align: center;

  }
    h1 {
        font-family: Copperplate, Papyrus, fantasy;
        font-size: 300%;
        text-align: center;
        margin-bottom: 40px;
        
    }
  
  
  #btn {
    color: rgb(0, 0, 0);
    cursor: pointer;
  font-size: 100%;
  Font-family: impact, sans-serif;
  width: 4.5%;
  

  }

  
  